@import 'font&variables';
@import 'global';

// ////////////////////////////////header/////////////////////////////////////
header.main-head {
    position: fixed;
    top: 0px;
    z-index: 100;
    background: $white-color;
    width: 100vw;
    box-shadow: 0px 1px 15px #000;
    nav {
        width: 95%;
        margin: 0 0 0 auto;
        padding: 1rem 0rem;
        @include flex(row, flex-start, center, center);
        min-height: 10vh;
        flex-wrap: wrap;
        .container {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-start;
            align-items: center;
            .logo {
                @include flex(row-reverse, flex-start, center, center);
                flex: 1 1 10rem;
                h1 {
                    margin: 1rem;
                    font-size: 1.75rem;
                    color: $grey-color;
                }
            }
            ul {
                @include flex(row, space-evenly, center, center);
                flex: 1 1 40rem;
                flex-wrap: wrap;
            }
        }
    }
}
// ///////////////////////////////intro Section/////////////////////////////////
section.intro {
    min-height: 70vh;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
    position: absolute;
    top: 22%;
    @include flex(row, space-between, center, center);
    .intro-text {
        margin: 2rem;
        flex: 1 1 40rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2 {
            padding-top: 2rem;
            background: $gradient;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            display: inline-block;
        }
        h3,
        h4 {
            color: $dark-blue;
            padding-top: 2rem 0rem;
        }
        .intro-social {
            @include flex(row, center, center, center);
            a {
                // margin: 5rem;
                img {
                    width: 55%;
                    margin: 2rem 2rem 1rem 2rem;
                }
            }
        }
    }
    .intro-images {
        flex: 1 1 40rem;
        z-index: 10;
        margin: 1rem;
        .splash {
            position: relative;
            top: 0%;
            left: 0%;
            height: 100%;
            z-index: -1;
            width: 100%;
        }
        svg {
            width: 20%;
            position: relative;
            top: 0;
            right: 32%;
            height: 100%;
            z-index: 20;
        }
    }
    #clock-arrow {
        animation: clock 1.5s infinite linear;
        transform-box: fill-box;
        transform-origin: bottom;
    }

    @keyframes clock {
        from {
            transform: rotateZ(0deg);
        }
        to {
            transform: rotateZ(360deg);
        }
    }
}
