@import 'font&variables';
@import 'global';

// ////////////////////////////////header/////////////////////////////////////
header.main-head {
    position: fixed;
    top: 0px;
    z-index: 100;
    background: $black-color;
    nav {
        width: 100vw;
        padding: 1rem 0rem;
        @include flex(row-reverse, flex-start, center, center);
        min-height: 10vh;
        flex-wrap: wrap;
        .container {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-start;
            align-items: center;
            h1 {
                margin: 1rem;
                font-size: 1.75rem;
            }
            .logo {
                @include flex(row-reverse, flex-start, center, center);
                flex: 1 1 10rem;
                img {
                    width: 15%;
                }
            }
            ul {
                @include flex(row-reverse, space-evenly, center, center);
                flex: 1 1 40rem;
                flex-wrap: wrap;
            }
        }
    }
}
// ///////////////////////////////intro Section/////////////////////////////////
section.intro {
    min-height: 80vh;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
    position: absolute;
    top: 30%;
    @include flex(row, space-between, center, center);
    .intro-text {
        margin: 2rem;
        flex: 1 1 40rem;
        display: flex;
        flex-direction: column;
        h2 {
            color: $black-color;
        }
        h3 {
            color: $grey-color;
        }
        .intro-social {
            display: flex;
            a {
                // margin: 5rem;
                img {
                    width: 30%;
                    height: 30%;
                    margin-top: 4rem;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
    .intro-images {
        flex: 1 1 40rem;
        z-index: 10;
        .splash {
            position: relative;
            top: 0%;
            left: 0%;
            height: 100%;
            z-index: -1;
            width: 100%;
        }
    }
}
