@import 'font&variables';
@import 'global';
// BURGUR THING
@media screen and (max-width: 842px) {
    header.main-head {
        nav {
            .burger {
                position: relative;
                display: block;
                cursor: pointer;
                span {
                    padding: 0.2rem 2rem;
                    background: rgb(94, 164, 255);
                    margin: 0.5rem 0rem;
                    display: block;
                    transition: all 0.5s ease-in-out;
                }
            }

            ul.nav-link {
                background: rgb(0, 8, 51);
                width: 100%;
                height: 100%;
                position: fixed;
                top: 0;
                left: 100%;
                // transition: translateX(100%);
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly !important;
                transition: transform 1s ease-in-out;
                a {
                    color: #fff;
                    font-size: 2rem;
                    text-decoration: underline;
                }
            }
            #logo {
                align-items: center !important;
            }
            //////////////////////////////////
            .nav-open {
                transform: translateX(-100%);
            }
            .toggle .line1 {
                transform: rotateZ(45deg) translateY(300%);
                background: rgb(94, 164, 255);
            }
            .toggle .line2 {
                opacity: 0;
                background: rgb(94, 164, 255);
            }
            .toggle .line3 {
                transform: rotateZ(-45deg) translateY(-300%);
                background: rgb(94, 164, 255);
            }
        }
    }
    //Footer
    footer {
        h4 {
            text-align: center;
            order: 2;
        }
        ul {
            order: 1;
        }
    }
}
