@charset "UTF-8";
@font-face {
  font-family: 'Kalame';
  src: url("../fonts/vazir/") format("truetype");
}

@font-face {
  font-family: 'Bettina';
  src: url("../fonts/bettina/BettinaScript/Bettina.ttf") format("truetype"), url("../fonts/bettina/BettinaScript/Bettina.woff");
}

@font-face {
  font-family: 'GreatVibes-Regular';
  src: url("../fonts/GreatVibes-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'vazir';
  src: url("../fonts/vazir/Vazir-Black-FD.ttf") format("truetype"), url("../fonts/vazir/Vazir-Regular-FD.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Vazir', 'Montserrat', sans-serif;
  line-height: 45px;
  direction: rtl;
  text-align: right;
  /* حذف اسکرول افقی */
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #ddd;
}

/* Utility Classes */
a {
  color: #d8d8d8;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  font-size: 266%;
  text-shadow: 1px 1px 1px #000;
  z-index: 3;
  font-weight: bold;
}

a:hover {
  color: #5a5a5a;
}

.container {
  width: 90vw;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  z-index: 10;
  text-shadow: 1px 1px 1px #000;
  padding: 1rem 1rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

h4,
h5 {
  font-size: 2rem;
}

li,
button,
label,
input,
a,
p {
  font-size: 2rem;
  z-index: 3;
  text-shadow: 1px 1px 1px #000;
  font-weight: normal;
}

p {
  color: #000c44;
}

button {
  font-weight: bold;
  z-index: 3;
  border: none;
  background: #1d3452;
  color: #fff;
  flex: 1 1 auto;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  animation: buttonAnimation 1.5s infinite alternate 1.5s;
  animation-iteration-count: 3;
}

button:hover {
  background: #707d8f;
}

button:focus {
  background: #707d8f;
  outline-style: solid;
  outline-color: #fff;
}

ul {
  list-style: none;
}

li {
  list-style: none;
  z-index: 3;
  text-shadow: 1px 1px 1px #000;
  padding: 0.5rem 1rem;
}

span {
  color: white;
  padding: 1rem 0.5rem;
}

@media screen and (max-width: 842px) {
  header.main-head nav .burger {
    position: relative;
    display: block;
    cursor: pointer;
  }
  header.main-head nav .burger span {
    padding: 0.2rem 2rem;
    background: #5ea4ff;
    margin: 0.5rem 0rem;
    display: block;
    transition: all 0.5s ease-in-out;
  }
  header.main-head nav ul.nav-link {
    background: #000833;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly !important;
    transition: transform 1s ease-in-out;
  }
  header.main-head nav ul.nav-link a {
    color: #fff;
    font-size: 2rem;
    text-decoration: underline;
  }
  header.main-head nav #logo {
    align-items: center !important;
  }
  header.main-head nav .nav-open {
    transform: translateX(-100%);
  }
  header.main-head nav .toggle .line1 {
    transform: rotateZ(45deg) translateY(300%);
    background: #5ea4ff;
  }
  header.main-head nav .toggle .line2 {
    opacity: 0;
    background: #5ea4ff;
  }
  header.main-head nav .toggle .line3 {
    transform: rotateZ(-45deg) translateY(-300%);
    background: #5ea4ff;
  }
  footer h4 {
    text-align: center;
    order: 2;
  }
  footer ul {
    order: 1;
  }
}
/*# sourceMappingURL=Responsive.css.map */